.App {
  /* Ajusta la ruta de la imagen y otros estilos según tus preferencias */
  background-image: url("./assets/img/3179813.svg");
  /* background-color: #292c3a; */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ajusta la altura según tus necesidades */

  /* Agrega otros estilos si es necesario */
}
